<% content_for :head do %>
  <!-- production -- >
  <!-- <script src="/javascripts/application.js"></script>-->
  
  <!-- development -->
  <script src="/javascripts/src/intro.js"></script>
  <script src="/javascripts/src/util.js"></script>
  <script src="/javascripts/src/sorted_hash/src/aggregators.js"></script>
  <script src="/javascripts/src/sorted_hash/src/comparators.js"></script>
  <script src="/javascripts/src/sorted_hash/src/sorted_hash.js"></script>
  <script src="/javascripts/src/node/src/node.js"></script>
  <script src="/javascripts/src/collection/src/modifiers.js"></script>
  <script src="/javascripts/src/collection/src/value.js"></script>
  <script src="/javascripts/src/collection/src/item.js"></script>
  <script src="/javascripts/src/collection/src/property.js"></script>
  <script src="/javascripts/src/collection/src/collection.js"></script>
  <script src="/javascripts/src/collection/src/criterion.js"></script>
  
  <script src="/javascripts/src/collection/src/transformers/co_occurrences.js"></script>
  <!-- <script src="/javascripts/src/collection/src/transformers/co_occurrences_baccigalupo.js"></script> -->
  
  <script src="/javascripts/src/collection/src/transformers/group.js"></script>
  <script src="/javascripts/src/chart/src/measure.js"></script>
  <script src="/javascripts/src/chart/src/chart.js"></script>
  <script src="/javascripts/src/chart/src/visualizations/barchart.js"></script>
  <script src="/javascripts/src/chart/src/visualizations/barchart_matrix.js"></script>
  <script src="/javascripts/src/chart/src/visualizations/scatterplot.js"></script>
  <script src="/javascripts/src/chart/src/visualizations/table.js"></script>
  
  <!-- UI Widgets -->
  <script src="/javascripts/src/widgets/src/selection.js"></script>
  <script src="/javascripts/src/widgets/src/selectbox.js"></script>
  <script src="/javascripts/src/widgets/src/multiselect.js"></script>
  
  <script src="/javascripts/src/templates.js"></script>
  <script src="/javascripts/src/commands.js"></script>
  <script src="/javascripts/src/facets.js"></script>
  <script src="/javascripts/src/sheet.js"></script>
  
  <!-- the Envision application -->
  <script src="/javascripts/src/envision.js"></script>
<% end %>


<section id="facets"></section>
<section id="results"></section>