<form action="{{action_url}}" method="post">
  <label for="collection-name">Name</label>
  <input id="collection-name" type="text" name="collection[name]"/>
  <label for="collection-uri">Service URI</label>
  <input type="text" name="collection[uri]"/>
  <input type="submit" value="Create collection"/>
</form>
