{{#collection}}
  <h2>{{name}}</h2>
  <p>{{descr}}</p>
  
  {{#properties}}
    <h3>{{name}}</h3>
    <select multiple="multiple">
      {{#unique_values}}
        <option value="{{to_s}}">{{to_s}}</option>
      {{/unique_values}}
    </select>
  {{/properties}}
  
  <h3>Items</h3>
  <ul>
  {{#items}}
    <li>
      {{name}}
      <ul>
        {{#attributes}}
          <li>
            {{#property}}
              {{name}}
            {{/property}}
          
            {{#values}}
              {{value}}
              ({{id}})
            {{/values}}
          </li>
        {{/ attributes}}
      </ul>
    </li>
  {{/items}}
  </ul>
{{/collection}}