<% content_for :head do %>
  <script src="/javascripts/browse.js"></script>
<% end %>

<section id="search">
  <input type="text" name="searchstr"/>
</section>

<section id="trail">
  
</section>

<section id="facets">

</section>

<section id="results">
    <canvas id="chart"></canvas>
</section>
