<% content_for :head do %>
  <script src="/javascripts/browse.js"></script>
<% end %>

<section id="search">
  <input type="text" name="searchstr"/>
</section>

<section id="trail">
  <% @collection.views.each do |v| %>
    <a class="view" href="<%= collection_view_path(@collection.id, v.id)%>"><%= v.name %></a>
  <% end %>
  
</section>

<section id="facets">

</section>

<section id="results">
    
</section>
