<div id="visualizations">
  <h5>Visualizations</h5>
  <ul>
    {{#visualizations}}
      <li id="visualization_{{code}}"{{#selected}} class="selected {{code}}"{{/selected}}><a href="#/select_visualization/{{code}}" title="{{class_name}}"></a></li>
    {{/visualizations}}
  </ul>
</div>
<div id="history">
  <h5>History</h5>
  <a id="undo" href="#/undo">Undo</a> |
  <a id="redo" href="#/redo">Redo</a>

  <!-- command sequence -->
</div>
<div id="trail">
  
</div>
<div id="chart"></div>
<div id="sheet-settings">
  <div id="measures">
    <h3>Measures</h3>
    <div id="measure_keys"></div>
  </div>
  <div id="transformers">
    <h3>Transformations</h3>
    <div id="transformer"></div>
    <div id="transformer_params"></div>
  </div>
</div>
<div id="navigation">
  <ul id="available-sheets">
    {{#sheets}}
      <li id="sheet_{{id}}" class="sheet">
        <a href="#/projects/{{project_id}}/sheets/{{id}}">{{name}}</a>
      </li>
    {{/sheets}}
  </ul>
</div>

