header, footer, section, nav { display:block; }

/*
-----------------------------------------
 Common shared
-----------------------------------------
*/

/* samo background color: #eaefe0; */

html { overflow-x: hidden; }
html,body { margin:0px; padding:0px; color: #33302a; font-family: "Century Gothic", Helvetica, Arial, sans-serif; font-size: 11px; font-size-adjust:none; font-stretch:normal; font-style:normal; 	font-variant:normal; font-weight:normal; line-height:normal; background: #fff; }
body { margin: 0px; padding: 0px; }

div#wrapper { position: absolute; top: 5px; left: 10px; right: 10px; bottom: 5px; overflow: hidden; }
a { color: #3b3b32; text-decoration: none; }
a:hover { color: #000; }

h2 { font-family: 'Times'; font-style: italic; font-size: 19px; color: #3a3227; padding: 5px 5px; margin: 0px; }
h3 { font-size: 15px; color: #3a3227; padding: 0px; margin: 0px; font-weight: normal; }
h4 { font-family: 'Times'; font-style: italic;}


/*
-----------------------------------------
 Header
-----------------------------------------
*/

section#header { font-family: 'Times'; font-style: italic; height: 44px; width: 300px; border-bottom: 2px solid #000;}
section#header h1 { width: 200px; color: #000; font-weight: bold; margin: 0px; font-size:26px; padding: 0px; padding-top: 5px; margin-left: 0px; }
section#header p { font-family: 'Times'; margin: 0; padding: 0; margin-left: 0px; font-size: 13px; line-height:1.3; color: #555; position: relative; top: -6px; }


/*
-----------------------------------------
 Navigation
-----------------------------------------
*/

#navigation { background: #fff; position: absolute; left: 325px; top: 0px; right: 0px; height: 22px; padding: 10px; border-bottom: 2px solid #000; }


ul#available-sheets { margin-left: 0; padding-left: 0; white-space: nowrap; }
ul#available-sheets li { display: inline; list-style-type: none; }
ul#available-sheets a { font-family: 'Times'; font-style: italic; font-size: 14px; padding: 3px 10px; background: #eee;}

ul#available-sheets a:hover, ul#available-sheets li.selected a { color: #fff; background-color: #000; text-decoration: none; }

/*
-----------------------------------------
 Facets
-----------------------------------------
*/

section#facets { background: #fff; position: absolute; top: 50px; bottom: 0px; width: 300px; padding: 0px; overflow: auto; }

.facet ul { margin: 0px; padding: 0px; display: none; }
.facet.selected ul { display: block; }
.facet li { list-style: none; margin: 0; padding: 0.25em; border-bottom: 1px solid gray; overflow: auto;}
.facet li:hover { background: #eee; }
.facet li a { float: left; text-decoration: none; }
.facet li span { float: right; }
.facet .facet-choices { overflow: auto; }
.facet h3 { padding: 3px; font-family: 'Times'; font-style: italic; background: #006fa4; }
.facet h3:hover { background: black; }
.facet.selected h3 { background: black; }
.facet h3 a { color: white; display: block; }


/*
-----------------------------------------
 Results
-----------------------------------------
*/

section#results { background: #fff; position: absolute; left: 325px; top: 50px; bottom: 0px; right: 0px; overflow: auto; }
#chart { float: left; overflow: auto; }

/*
-----------------------------------------
 Sheet Settings
-----------------------------------------
*/

#sheet-settings { top: 0px; float: right; width: 190px;}
#sheet-settings h3 { color: white; padding: 3px; font-family: 'Times'; font-style: italic; background: #006fa4; }
#sheet-settings h3:hover { background: black; }

/* Settings selection */

#sheet-settings ul { margin: 0px; padding: 0px; }
#sheet-settings li { list-style: none; margin: 0; padding: 0.25em; border-bottom: 1px solid gray; overflow: auto;}
#sheet-settings ul.selected li {background: #ccc;}
#sheet-settings li:hover { background: #eee; }
#sheet-settings li a { float: left; text-decoration: none; }
#sheet-settings li span { float: right; }

#sheet-settings div.param { overflow: auto; }
#sheet-settings #operations label { width: 20px; float: left; }
#sheet-settings #operations input { width: 20px; float: right; }
#sheet-settings #operation_params select { width: 60px; float: right; }

/*
-----------------------------------------
 Content
-----------------------------------------
*/

section#content { display: none; position: absolute; top: 200px; bottom: 200px; left: 0px; right: 0px; margin-top: 5px; margin: auto; width: 400px; }


/*
-----------------------------------------
 Various
-----------------------------------------
*/

.hidden { display:none; }

.clearfix:after, #frame:after, .navigation:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix, #frame, .navigation { display: inline-block;}
* html .clearfix, * html #frame, * html .navigation {height: 1%;}
.clearfix, #frame, .navigation { display: block; }
.clear { clear: both; }