<div class="param"><label>{{name}}</label>
<select name="{{key}}">
  <option value="">- - -</option>
  {{#aggregators}}
    <option value="{{key}}">{{name}}</option>
  {{/aggregators}}
</select>
</div>