<!DOCTYPE html>
<html>
<head>
  <title>ENVISION / A Collection Browser</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <section id="header">
    <h1>ENVISION&#8482;</h1>
    <p>A Collection Navigator</p>
  
  </section>

  <%= yield %>

</div>
</body>
</html>